/* ------------------------------------------------- */

#tabs{
  overflow: hidden;
  width: 95%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

#tabs li{
  float: left;
  margin: 0;
  width:25%;
  
}

#tabs li#current a {
	border-bottom:none;
	color:#818285;
	background: #fff;
    background: -moz-linear-gradient(top, #f0f0f0 0%, #fafafa 25%, #fff 100%);
    background: -ms-linear-gradient(top, #f0f0f0 0%, #fafafa 25%, #fff 100%);
    background: -o-linear-gradient(top, #f0f0f0 0%, #fafafa 25%, #fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(25%, #fafafa), color-stop(100%, #fff));
    background: -webkit-linear-gradient(top, #f0f0f0 0%, #fafafa 25%, #fff 100%);
    background: linear-gradient(to bottom, #f0f0f0 0%, #fafafa 25%, #fff 100%);
}

#tabs li:hover a {
	background: #fff;
    background: -moz-linear-gradient(top, #f0f0f0 0%, #fafafa 25%, #fff 100%);
    background: -ms-linear-gradient(top, #f0f0f0 0%, #fafafa 25%, #fff 100%);
    background: -o-linear-gradient(top, #f0f0f0 0%, #fafafa 25%, #fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(25%, #fafafa), color-stop(100%, #fff));
    background: -webkit-linear-gradient(top, #f0f0f0 0%, #fafafa 25%, #fff 100%);
    background: linear-gradient(to bottom, #f0f0f0 0%, #fafafa 25%, #fff 100%);	
}

#tabs a{
  position: relative;
  padding: 8px 0px;
  float: left;
  text-decoration: none;
  color: #999;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  width:99%;
  text-align:center;
  border:1px solid #ccc;
	background: #e9e9e9;
	background: -moz-linear-gradient(top, #e9e9e9 0%, #e5e5e5 100%);
	background: -ms-linear-gradient(top, #e9e9e9 0%, #e5e5e5 100%);
	background: -o-linear-gradient(top, #e9e9e9 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9e9e9), color-stop(100%, #e5e5e5));
	background: -webkit-linear-gradient(top, #e9e9e9 0%, #e5e5e5 100%);
	background: linear-gradient(to bottom, #e9e9e9 0%, #e5e5e5 100%);
	background-clip: padding-box;  
}

/*
#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after{
  background: #231f20;
}
*/

#tabs a:focus{
  outline: 0;
}

/*#tabs a::after{
  content:'';
  position:absolute;
  z-index: 1;
  top: 0;
  right: -.5em;  
  bottom: 0;
  width: 1em;
  background: #95ecb6; 
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;  
}

#tabs #current a,
#tabs #current a::after{
  background: #231f20;
  z-index: 3;
}*/

/* ------------------------------------------------- */

#tabcontent
{
    background: #FFF;
    padding: 3%;
	height: auto;
	min-height:220px;
	position: relative;
	z-index: 2;	
    -moz-border-radius:12px 12px 0 0;
    -webkit-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
	overflow:auto;
	width:94%;
	box-shadow:0 2px 6px #AAA;
}

#tabcontent #tab1 ul, #tabcontent #tab1 li {
	list-style:disc!important;
	padding-left:16px;
}

#tabcontent h2, #tabcontent h3, #tabcontent p
{
    margin: 0 0 15px 0;
}

/* ------------------------------------------------- */

#about
{
    color: #999;
}

#about a
{
    color: #eee;
}
