<div id="customerAccount">
<?php if(Mage::getSingleton('customer/session')->IsLoggedIn()) : ?>
	<div id="customerLinks" class="inline">
		<div id="customerData">
			<a href="<?php echo $this->getUrl('customer/account') ?>" class="links">My Account</a>
			<a href="<?php echo $this->getUrl('sales/order/history') ?>" class="links">Order History</a>
			<a href="<?php echo $this->getUrl('checkout') ?>" class="links">Checkout</a>
			<a href="<?php echo $this->getUrl('customer/account/logout') ?>">Log Out</a>
		</div>
		Account
	</div>
	<div class="separator">|</div>
	<div id="customerCart" class="inline">
		<a href="<?php echo $this->getUrl('checkout/cart/') ?>">Cart</a>
	</div>	
	
	<?php else : ?>
	
	<div id="customerLogin" class="inline">
		<a href="<?php echo $this->getUrl('customer/account') ?>">Log In</a>
	</div>
	<div class="separator">|</div>
	<div id="customerCart" class="inline">
		<a href="<?php echo $this->getUrl('checkout/cart/') ?>">Cart</a>
	</div>
<?php endif; ?>
</div>
<div class="clear"></div>